# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
build/

# IntelliJ related
.idea/
*.iml
*.ipr
*.iws

# VS Code related
.vscode/
.settings/

# Android related
android/
android/app/debug/
android/app/profile/
android/app/release/
android/.gradle/
android/captures/
android/gradlew
android/gradle/
android/local.properties
android/app/google-services.json
android/key.properties

# iOS related
ios/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/
ios/Flutter/App.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.framework/
ios/Flutter/engine/
ios/Flutter/flutter_export_environment.sh

# Xcode related
*.xcworkspace/
*.xcuserdata/
*.xccheckout/
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.app.dSYM.zip
*.app.dSYM

# Web related
web/
web/.dart_tool/
web/build/

# MacOS related
macos/

# Linux related
linux/
linux/.dart_tool/
linux/flutter/

# Windows related
windows/
windows/.dart_tool/
windows/flutter/

# Other config files
*.log
*.lock
*.temp
*.tmp

# Coverage related
coverage/

# Miscellaneous
.DS_Store
*.lock
*.log